PORT=7000
NODE_ENV=development
JWT_SECRET=super_secret_jwt_key_12345
JWT_EXPIRES_IN=1d

# Database configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=ss_task
DB_USER=root
DB_PASSWORD=root

# Redis configuration (Local or Upstash)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
